/* Styles for design */

.ui-content{
}

/* Styles for the navigation sections of the app */
.ui-input-search {
	border:none;
	margin:0;
	padding:0;
}
.ui-input-search input {
	height:19px;
}
.ui-input-search::after {
    position: absolute;
    left: 0.7125em;
    top: 50%;
    margin-top: -7px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    opacity: 0.5;
}
/* Styles for the Drag Game*/
#dandbackground{
	height: 480px;
	width: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	/*background-image: url("crimescene.jpg");*/
	z-index: -100000;
}

#makeMeDraggable { 
	position: absolute;
	top: 20px;
	left: 20px;
	width: 50px; 
	height: 50px; 
	background-image: url("handprint.png");
	background-repeat: no-repeat;
}

#makeMeDraggable2 { 
	position: absolute;
	top: 140px;
	left: 120px;
	width: 50px; 
	height: 50px; 
	background-image: url("knife.png");
	background-repeat: no-repeat;
}

#makeMeDraggable3 { 
	position: absolute;
	top:120px;
	left:20px;
	width: 60px; 
	height: 83px; 
	background-image: url("letter.png");
	background-repeat: no-repeat;
}

#droppable{
 position: absolute;
 left: 195px;
 top:300px;
 width: 70px; 
 height: 70px; 
 background-image: url("images/basic/basket.png");
 background-size: 70px 70px;
 background-repeat: no-repeat;
 background-position: center;
 z-index:1;
}

#drop_score{
	position: absolute;
	left: 50px;
	top:500px;
	height: 20px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	clear:both;
	

	
