/* Styles for design */

@media only screen and (max-width: 920px) {

   body { font-size: 2em; }

}

.ui-content{
	background-image: url('images/basic/background.jpg');
	background-size: 100% 100%;
}

/* Styles for the navigation sections of the app */
.ui-input-search {
	border:none;
	margin:0;
	padding:0;
}
.ui-input-search input {
	height:19px;
}
.ui-input-search::after {
    position: absolute;
    left: 0.7125em;
    top: 50%;
    margin-top: -7px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    opacity: 0.5;
}
/* Styles for the Drag Game*/
#dandbackground{
	height: 480px;
	width: 300px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-image: url("crimescene.jpg");
	z-index: -100000;
}

#makeMeDraggable { 
	position: absolute;
	top: 20px;
	left: 20px;
	width: 50px; 
	height: 50px; 
	background-image: url("handprint.png");
	background-repeat: no-repeat;
}

#makeMeDraggable2 { 
	position: absolute;
	top: 140px;
	left: 120px;
	width: 50px; 
	height: 50px; 
	background-image: url("knife.png");
	background-repeat: no-repeat;
}

#makeMeDraggable3 { 
	position: absolute;
	top:120px;
	left:20px;
	width: 60px; 
	height: 83px; 
	background-image: url("letter.png");
	background-repeat: no-repeat;
}

#droppable{
	position: absolute;
	left: 195px;
	top:300px;
	width: 75px; 
	height: 75px; 
	background-image: url("basket.png");
	background-repeat: no-repeat;
    background-position: center;
	z-index:1;
}

#drop_score{
	position: absolute;
	left: 220px;
	top:20px;
	height: 20px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	clear:both;
}

/*Ipad Main Page*/

.background{
	background-image: url('images/basic/background.jpg');
	background-size: 100% 100%;
}
.logoSection{
    width: 200px;
    height: auto;
    margin: 0 auto;
}
.mainBody{
    width: 90%;
    height: 600px;
    margin: 0 auto;
    background-image: url("images/basic/parchment.png");
    background-size: 100% 100%;
}

/*Text Styling*/

.mainBody p{
    margin: 0 auto;
    width: 90%;
}
#textHeader{
    padding-top: 20px;
    font-family: Gypsy Curse;
    text-align: center;
    font-size: 26px;
}
#informationText{
    font-family: arial;
    color: black;
    font-size: 20px;
    text-align: left;
    
}

#informationText:first-of-type{
    padding-top: 65px;
}



/*Victim Pages*/
.fotorama__wrap {
    margin: 0 auto;
}

.murderVictimHeader{
	background-image: url('images/basic/button.png');
	background-size: 100% 100%;
	width: 30%;
	height: 10%;
	margin: 0 auto;
}

.murderVictimHeader p{
	padding: 10px 10px 10px 10px;
	font-size: 40px;
	color: black;
	text-align: center;

}
	
  .parchmentContainer{
  	width: 85%;
  	height: 100%;
  	margin: 0 auto;
  	background-image: url("images/basic/parchment.png");
  	background-size:cover;
  	text-align: center;
  	
  }
  .brickWallContainer{
  	width: 99%;
  	margin: 0 auto;
  	height: auto;
  	background-image: url("images/basic/wall.jpg");
  	background-size:cover;
    border-style: solid;
    border-color: #460702;
  }


 #youtubeVideo{
 	padding-top: 50px;
 	padding-left: 50px;
 	padding-right: 20px;
 	float: left;
 }

    .parchmentContainer h1{
	padding: 40px 40px 0px 40px;

  }
    .parchmentContainer p{
	padding: 5px 45px 0px 45px;

  }
  .buttonBackground{
  	width: 250px;
  	height: 10%;
  	margin: 0 auto;
  	background-image: url("images/basic/button.png");
  	background-repeat: no-repeat;
  }
    .buttonBackground p{
    	font-size: 18px;
    	font-family: "Arial Black", Gadget, sans-serif;
  	padding-top: 25px;
  	padding-left: 20px;
  }